

/* this file overrides default Tailwind styling ??

  - this file is watched and converted by PostCSS

  Tailwind tends to override some things like link styling:
  https://stackoverflow.com/questions/63883580/tailwind-css-how-to-style-a-href-links-in-react 

*/

// base sizes
:root {
  font-size: 1em; // make base font slightly larger for everything
  color: #292327; // base text color

  .notion-page {
    --notion-h1-weight: 500;
    --notion-h2-weight: 500;
    --notion-h3-weight: 400;

    --notion-h1: 1.8rem;
    --notion-h2: 1.5rem;
    --notion-h3: 1.2rem;

    --notion-p-padding: var(--notion-8px) var(--notion-2px);
  }

  b {
    font-weight: 600;
  }

  // --base: 1.125rem;
  // --title: 2.7rem;
  // --h1: 2em;
  // --h2: 1.74rem;
  // --h3 : 1.2rem;

  // --notion-base: var(--base) !important;
  // --notion-title: var(--title) !important;
  // --notion-h1: var(--h1) !important;
  // --notion-h2: var(--h2) !important;
  // --notion-h3 : var(--h3) !important;
}


// @import '@fontsource/inter';
@import '@fontsource/inter/300';
@import '@fontsource/inter/400';
@import '@fontsource/inter/700';
/* @import '@fontsource/fira-mono'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


// 
//    MAIN PROJECT THEMES / STYLES
// 
@import './lib/themes/baseline';

// Additional project styling
@import "$plasmid/themes/tw";

// social fonts
// @import "$plasmid/themes/templates/social";
@import "./lib/themes/social";

// include coeur templates if needed; treated as a separate theme
// @import './lib/themes/coeur';
// @import './lib/themes/elements';





/* 

  Base themes

*/

.notion {
  font-family: Inter, sans-serif !important;
}

.headline {
  @apply font-display;
  text-rendering: geometricprecision;
}

// for narrative pages / longform
.Narrative {
  img {
    @apply rounded-md;
  }
}

h1 {
  @apply text-3xl leading-tight lg:text-3xl lg:leading-tight pb-8 font-semibold
}
  h1.article-title  {
    @apply text-6xl md:text-5xl font-display leading-tight pb-8
  }
h2 {
  @apply text-2xl md:text-2xl pb-6;

  &.--extra {
    @apply text-4xl pb-2 tracking-tight;
  }

  &~h3 {
    padding-top: 0;
  }
}
  *>h1,*>h2,*>h3,*>h5,*>h6 { 
    @apply pt-12
  }
h3 {
  @apply text-xl  pb-6
}
h4 {
  @apply text-lg pb-4
}
h5 {
  @apply font-bold pb-4;
}
h6 {
  @apply text-xs tracking-wide uppercase pb-2;
}

p {
  @apply pb-4;
}

.text-light {
  @apply text-slate-600;
}

a {
  @apply no-underline text-blue-500;
}
  a:hover {
    @apply underline text-blue-800;
  }


// preloaded global tw styles for airtable/notion classes
.tw-border-blue-600 {
  @apply border-blue-600;
}

























